body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(mediback.jpg);
    border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   background-size: cover;
}


.Container {
    background-color:transparent;
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(255, 252, 252);
}

.Container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: rgb(219, 219, 219);
    text-shadow: 3px 3px 3px rgb(255, 0, 0);
    font-weight: 200;
    border-bottom: solid 1px white;
}

.input-pass {
    margin-bottom: 15px;
}

.input-pass label {
    display: block;
    margin-bottom: 0;
    color: white;
}

.input-pass input {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 10px;
    
}
.input-email label{
    display: block;
    margin-bottom: 0;
    color: white;

}
.input-email input{
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
button {
    width: 115%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    background-position: center;

}

button:hover {
    background-color: rgb(246, 12, 12);
}
