@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 75%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

header{
    position: fixed;
    top: 0;
    left: 1;
    right: -4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4%;
    width: 98%;
    z-index: 1000;
    background-color: rgb(255, 253, 253) !important;
}
.logo{
    width: 50px;
}
.logo img{
    width: 100%;
}
.navbar a{
    color:  #000000;
    font-size: 1.4rem;
    margin: 1rem;
    position: relative;
    transition: 0.5s;
}
.navbar a:hover{
    color: #2ac1a0;
}

.navbar a::after{
    content: "";
    background-color: #428456;
    width: 0;
    position: absolute;
    height: 0.1rem;
    left: 0;
    margin-top: 0.5rem;
    top: 91%;
    transition: 0.4s;
}
.navbar a:hover::after{
    width: 100%;
}

#menu-bars{
    color: #140505;
    font-size: 2.5rem;
    cursor: pointer;
    margin-right: 3rem;
    display: none;
}
#menu-bars:hover{
    color: #5ab300;
}
.right-icons .btn{
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border-radius: 10px;
    background: #bea2a2;
    color: rgb(26, 0, 0);
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
}
.right-icons .btn:hover{
    background-color: #0b0000;
}

/* header section ended */

/* Home Section Start */
.main{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(16, 82, 82);
    height: 670px;
    color: white;
    width: 100%;
}

.maintext h1{
    font-size: 55px;
}

.maintext h3{
    font-size: 35px;
    margin-top: 20px;
}

.maintext button{
    width: 140px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 7px;
   
}
 .main .maintext img{
    margin: 5px;
    padding: 10px;
    height: 700px;
}
.maintext button a{
    text-decoration: none;
    color: white;
}
.maintext button:hover{
    border: 2px solid black;
    background-color: transparent;
}

.technology{
    padding: 3rem 5%;
}

.main-technology{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.9rem;
    margin-top: -95px;
}
.inner-technology{
    flex: 1 1 100px;
    padding: 2rem 1rem;
    box-shadow: rgba(19, 18, 18, 0.24) 0px 2px 8px;
    background-image: url(backgroung-pattern-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: white;
    position: relative;
    z-index: 1;
}

.inner-technology span{
    width: 0;
    height: 100%;
    background-color: #2ecba8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.8s; 
}

.inner-technology:hover span{
    width: 100%;
}

.inner-technology:hover i{
    color: white;
}

.inner-technology:hover h2{
    color: white;
}
.inner-technology:hover p{
    color: white;
}
.inner-technology i{
    font-size: 40px;
    color: rgb(39, 163, 99);
}

.inner-technology h2{
    font-size: 2.1rem;
    padding: 1rem 0;
}
.inner-technology p{
    font-size: 1.2rem;
    line-height: 2.5rem;
    padding: 1rem 0;
}
/* Home Section End */

/* About us section start */

.main-about{
    padding: 3rem 1%;
    width: 95%;
    background-image: url(backgroung-pattern-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.main-about .about-heading{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: #2ecfab;
    border-bottom: 2px solid #f7a704;
    width: 200px;
    margin: 0 auto;
    padding: 2rem 0;
}

.inner-main-about{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    gap: 1rem;
}

.about-inner-content{
    flex: 1 1 100rem;
}

.about-inner-content img{
    width: 100%;
    padding: 1rem;
}

.about-inner-content{
    flex: 1 1 10rem;
}
.about-inner-content img{
    width: 85%;
}
.about-right-content h2{
    font-size: 26px;
    padding: 1.5rem 3;
    color: black;
    font-weight: bolder;
    line-height: 3rem;
}
.about-right-content p{
    font-size: 1.5rem;
    padding: 1.5rem 0;
    color: #4F5D6A;
    font-family: "Inter", sans-serif;
    text-align: left;
    line-height: 2.6rem;
}
.aboutsec-content{
    line-height: 2.7rem !important;
}
.aboutbtn{
    padding: 1.2rem 3rem;
    background-color: transparent;
    border: 1.5px solid #000000;
    margin-top: 1.5rem;
    cursor: pointer;
    font-size: 1.3rem;
    transition: 0.5s all;
}
.aboutbtn:hover{
   background-color: #110e07;
   color: white;
   border: none;
   padding: 1.5rem 3.5rem
}
/* About Us Section End */

/* Doctors Page Start*/

.teams{
    display: flex;
    justify-content: center;
}

.teams .card{
    width: 360px;
    height: 500px;
    background-color: lightgrey;
    border-radius: 7px;
    margin-inline: 25px;
    margin: 10px;
}
.teams .card button
{
    margin-top:55px;
    margin-left: 120px;
    margin-right: 1px;

}
.teams .card Button a
{
    background-color: black;
    color: white;
    border: none;
    padding: 14px 15px;
    margin: -4.9px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}


.card img{
    width: 100%;
    height: 300px;
    border-radius: 6px;
}

.card p{
    margin-top: 10px;
    margin-left: 15px;
}

.head{
    text-align: center;
    font-size:26px;
    padding: 30px;
    text-shadow: 3px 2px 3px rgb(76, 210, 255);
}
/* Doctors Page End*/

/* Services Section Start*/

.our-service{
    width: 100%;
    padding: 3rem 0%;
}   
.service-heading h2{
    font-size: 48px;
    color: #123939;
    text-align: center;
    padding: 3rem 0;
    margin-bottom: 4rem;
    text-shadow: 3px 2px 3px rgb(76, 210, 255);
}
.main-services{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    text-align: center;
}
.inner-services{
    flex: 1 1 300px;
    padding: 4rem 0rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 10px 1px;
    border: 2px solid black
    
}
.inner-services:hover{
    transform: translateY(-14px);
    transition: all 0.7s;
    border-bottom: 2px solid black;
    background-color: #fff3f3;
}
.inner-services:hover .service-icon{
    width: 100px;
    height: 100px;
    border-radius: 0;
    background-color: #2bc2a1;
    
}
.inner-services:hover .service-icon i{
    color: rgb(237, 247, 240);
    transform: scale(1.1);
}

.service-icon{
    width: 100px;
    height: 100px;
    line-height: 119px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #2dc8a6;
    background-color: rgb(233, 233, 233);
}
.service-icon i{
    font-size: 4rem;
    color: #2cc4a3;
    padding: 2rem;
}
.inner-services h3{
    font-size: 2rem;
    padding-top: 3rem;
}
.inner-services p{
    font-size: 1.3rem;
    padding: 1.2rem 0;
    line-height: 2.2rem;
}
/* Services Section End*/

/* patient reviews */

.reviews{
    width: 860px;
    height: 360px;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.patientReview{
    display: flex; 
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s ease;
}

.patientReview img{
    width: 350px;
    margin-inline: 15px;
}
/* Patient Reviews End*/

/* Contact Us start*/

.container {
    max-width: 770px;
    margin: 30px auto;
    background-color: #cbdbcf;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .container h1 {
    text-align: center;
    color: #040202;
  }

  .container p{
    text-align: center;
    color: #0a0606;
  }

  .contact-form {
    margin-top: 40px;
  }

  .contact-form label {
    display: block;
    margin-bottom: 10px;
    color: #150e0e;
  }

  .contact-form input[type="text"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #060303;
    border-radius: 7px;
    box-sizing: border-box;
  }

  .contact-form textarea {
    height: 120px;
  }

  .contact-form input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 360px;
    border-radius: 6px;
    cursor: pointer;
  }

  .contact-form input[type="submit"]:hover {
    background-color: #000000;
  }

/* Contact Us End */

/* Footer Section Start */

.footer{
    text-align: center;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    gap: 6rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    padding: 2.2rem 0;
    color: blueviolet;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    padding: .3rem 2;
    line-height: 1.1;
    color: #6b6b6b
}

.footer .box-container .box .share{
    margin-top:1rem;
}

.footer .box-container .box .share a{
    height: 2.5rem;
    width: 2.5rem;
    background: #2f67d7;
    color: #e7c1c1;
    line-height: 2.5rem;
    border-radius: 30%;
    font-size: 1.6rem;
    margin-right: .5rem;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: #462b2b;
}

.footer .box-container .box .link{
    display: block;
    font-size: 1.4rem;
    line-height:1;
    color: #1e4aa3;
    padding: .4rem 0;
}

.footer .box-container .box .link:hover{
    color: #167fb3;
}

.footer .credit{
    margin-top: 2.5rem;
    padding-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    color: #1f2e8a;
    border-top:.1rem solid #3d3d88;
}

.footer .credit span{
    color: #4d4db6;
}

/* footer section ends */
